In [28]:
import pandas as pd
import os

In [29]:
site_df = pd.read_csv('./bde_data/site_metadata.csv')
site_df.head()

,CUSTOMER_NAME,PLANT_NAME,LATITUDE,LONGITUDE,ELEVATION,FUEL_N2_MOL_PCT,FUEL_MW,FUEL_LHV,CO2_FUEL_RATIO
0,SPIFFY,SPIRITUAL-POLECAT,61.170356,42.874767,112.000000,4.445063,16.572225,21514.222365,2.621803
1,NONCHALANT,NIFTY-ROOK,37.554515,49.908217,-29.000000,1.053145,16.166097,21526.470829,2.714870
2,NONCHALANT,PREHISTORIC-PETREL,29.190866,60.491702,1552.426025,10.298848,17.273122,21494.438672,2.461189
3,NONCHALANT,THERAPEUTIC-LIONFISH,13.253365,76.411056,867.591553,13.188814,17.619149,21485.251979,2.381895
4,SOFT,ABORIGINAL-PICULET,-68.632002,66.155301,1253.152832,7.581916,16.947813,21503.417436,2.535736

In [30]:
engine_df = pd.read_csv('./bde_data/engine_metadata.csv')
engine_df.head()

  CUSTOMER_NAME         PLANT_NAME ENGINE_ID     FILE_ID
0        SPIFFY  SPIRITUAL-POLECAT  ENGINE_1  data_1.csv
1        SPIFFY  SPIRITUAL-POLECAT  ENGINE_2  data_2.csv
2        SPIFFY  SPIRITUAL-POLECAT  ENGINE_3  data_3.csv
3    NONCHALANT         NIFTY-ROOK  ENGINE_1  data_4.csv
4    NONCHALANT         NIFTY-ROOK  ENGINE_2  data_5.csv

In [31]:
data_list = os.listdir('./bde_data/plant_data')
for file in data_list:
    data_frame = pd.read_csv(f'./bde_data/plant_data/{file}')
    data_frame.fillna(0, inplace=True)
    data_frame.rename(columns={'Unnamed: 0': 'ID'}, inplace=True)
    data_frame['TIME'] = pd.to_datetime(data_frame['DATE_TIME']).dt.time
    data_frame['DATE'] = pd.to_datetime(data_frame['DATE_TIME']).dt.date
    data_frame.drop(columns=['DATE_TIME'], inplace=True)
    for i in range(1, int((data_frame.shape[1]-3)/4)+1):
        for j in range(45):
            if site_df["PLANT_NAME"][j] == str(file)[:-4]:
                LHV = site_df["FUEL_LHV"][j]
                data_frame["THERMAL_EFF"] = (
                    data_frame["POWER_" + str(i)]/(data_frame["FUEL_FLOW_" + str(i)]*LHV))*100
    data_frame.to_csv(f'./analysed_data/' + file, index=False)